<h2>kogoto</h2>

<div class="post-index">
<% @posts.each do |post| %>
    <div class="post-article-box">
        <div class="title">
            <% link_to post.text, "/posts/#{post.id}" %>
        </div>
<% end %>
    </div>
</div>