<h1 class="hidden">kogoto</h1>

<div class= "text-area">
    <div class="show-text1-box">
        <%= @post.text %>
    </div>
</div>
<%= link_to "削除", @post, method: :delete %>
<%= link_to "編集", edit_post_path %>



  
