// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index

.users-index {
    font-weight: 300;
    text-align: center;
    font-size: 48px;
    color: red;
}

.users-index-item {
    overflow: scroll;
    margin: left;
    padding: 20px 300px;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    display: table;
    width: 50%;
}

.users-right {
    color: black;
    width: 90%;
    text-align: table;
    vertical-align: middle;
}



//show

.user-show {
    text-align: center;
}

.user {
    margin-bottom: 20px;
}

.user h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.user p {
    font-size: 13px;
    margin-bottom: 15px;
}



//new

.area {
    padding: 10px 100px;
    margin-bottom: 15px;
}
